.additional-cards__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.additional-cards__list {
  .reset-list;
}

.additional-cards__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional-cards__text {
  .second-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey-2;
}
