.additional-cards {
  .wrapper(87.5%);

  @media (min-width: @tablet-width) {
    .wrapper(95%);
  }

  @media (min-width: @desktop-width) {
    .wrapper(auto);
    margin: 0;
  }
}

.additional-cards__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.additional-cards__list {
  .reset-list;
}

.additional-cards__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto auto;
  padding-top: 9px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    grid-auto-rows: auto auto;
    grid-template-columns: auto max-content max-content;
    column-gap: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

.additional-cards__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

.additional-cards__text {
  .second-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey;
  text-align: left;

  &--right {
    text-align: right;
  }
}

.additional-cards__button {
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

@media (min-width: @desktop-width) {
  .additional {
    .wrapper(1220px);
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
