.additionally-form {

  &:after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 136px;
    height: 2px;
    top: 14px;
    right: -20px;

    @media (min-width: @tablet-width) {
      width: 446px;
      right: -69px;
    }
  }

  &:before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 30px;
      height: 2px;
      top: 17px;
      left: -68px;
    }
  }
  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.additionally-form__list {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 105px;
    margin-bottom: 33px;
  }
}

.additionally-form__item {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    flex-basis: 220px;
    margin-bottom: 31px;

    &:nth-of-type(2n) {
      @media (max-width: @tablet-width-only) {
        margin-left: 124px;
      }
    }
  }
}

.additionally-form__label {
  display: block;
  padding-left: 46px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 29px;
    height: 29px;
    border: 1px solid @toggle-border-grey;
    top: 1px;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 39px;
      height: 39px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 59px;
  }
}

.additionally-form__input:checked + .additionally-form__label::after {
  content: "";
  position: absolute;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 8px;
  left: 6px;

  @media (min-width: @tablet-width) {
    top: 13px;
    left: 12px;
  }
}

.additionally-form__input:not([disabled]):hover + .additionally-form__label::before {
  border-color: @hover-grey;
}

.additionally-form__input[disabled] + .additionally-form__label {
  opacity: 0.3;
}
