.benefits {
  .main-fonts;
  .wrapper(87.5%);
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    .wrapper(95%);
  }

  @media (min-width: @desktop-width) {
    .wrapper(1220px);
  }
}

.benefits__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-top: 31px;
  margin-bottom: 25px;
}

.benefits__list {
  .reset-list;
  .second-fonts;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.benefits__item {
  margin-bottom: -2px;
  padding-left: 80px;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 120px;
    flex-basis: 230px;
    margin-right: 75px;
  }
}
