.cards__list {
  .reset-list;
  .wrapper (87.5%);
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    .wrapper (95%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 90px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1220px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 90px;
  }
}

.cards__item {
  margin-bottom: 17px;
}
