.comment-form {
  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .comment-form {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.comment-form__input {
  .main-fonts;
  .border-grey;
  text-transform: uppercase;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 5px;
  color: #444444;
  resize: none;
  width: 94%;
  height: 135px;
  margin-top: 33px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 82px;
    padding-left: 19px;
    padding-right: 20px;
    height: 158px;
  }
}
