@media (min-width: @desktop-width) {
  .comment-form {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.comment-form--input {
  .main-fonts;
  .border-grey;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: @special_dark-grey;
  resize: none;
  width: 100%;
  height: 174px;
}
