@media (min-width: @desktop-width) {
  .contact-form {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.contact-form__list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 9px;
}

.contact-form__label {
  color: @special_dark-grey;
}

.contact-form__item {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}

.contact-form__data {
  text-transform: uppercase;
  padding-left: 9px;
  padding-top: 14px;
  padding-bottom: 15px;
  .border-grey;
  flex-grow: 1;
  margin-left: 11px;
}
