.copyright {
  outline: 2px solid grey;
  font-family: "Oswald", "Arial", sans-serif;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: @special_dark-grey;
  text-decoration: none;
}
