.form-box {
  .main-fonts;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  outline: 2px solid grey;
  .wrapper (92%);

  @media (min-width: @tablet-width) {
    .wrapper(95%);
  }

  @media (min-width: @desktop-width) {
    .wrapper(1220px);
  }
}

@media (min-width: @tablet-width) {
  .form-box__field {
    .wrapper(90%);
  }
  .form-box__text {
    .wrapper (90%);
  }
}

.form-box--list {
  .reset-list;
}

.form-box__title {
  .main-fonts;
  color: @basic-black;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.form-box__text--necessarily {
  .second-fonts;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
