.gift {
  .second-fonts;
  color: @basic-white;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../img/background-cat-gift.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  height: 289px;
  width: 280px;
  .wrapper(87.5%);
  text-align: center;
}

.gift__text {
  max-width: 161px;
  margin: 0 auto;
}
