.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: @basic-black;
}

.main-nav__list {
 .reset-list;
}

.main-nav__item {
  outline: 2px solid grey;
  padding: 24px;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-black;
}
