.name-form__list {
  .main-fonts;
  color:@special_dark-grey;
}

.name-form__item {
  margin-bottom: 14px;
}

.name-form__cat-data {
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  .border-grey;
}
