.name-form {
  position: relative;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid @border-special-grey;
    padding-bottom: 7px;
  }
}

.name-form__list {
  .main-fonts;
  color: @special_dark-grey;
  display: flex;
  flex-direction: column;
  .wrapper (87.5%);

  @media (min-width: @tablet-width) {
    margin-top: 67px;
    width: 100%;
  }
}

.name-form__item {
  margin-bottom: 16px;
  display: flex;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.name-form__cat-data {
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  .border-grey;
  flex-grow: 1;
  margin-left: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 21px;
    margin-left: 18px;
    font-size: 20px;
    .main-fonts;
  }

  &:focus {
    border: 2px solid @special_dark-grey;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  &:invalid {
    border: 2px solid @error-red;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}
