.page-footer {
  .wrapper(87.5%);
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    .wrapper(95%);
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1220px);
  }
}

.page-footer__title,
.page-footer__social {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    bottom: -1px;
    left: 1px
  }
}

.page-footer__link {
  padding: 18px;
  display: block;
}
