.preview {
  .main-fonts;
  color: @basic-white;
  outline: 2px solid grey;
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
}

.preview__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.preview__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.preview__link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: @basic-white;
}
