.preview {
  .main-fonts;
  color: @basic-white;
  background-image: url("../img/background-cat-green.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    background: none;
    text-align: left;
    position: relative;
  }
}

.preview__wrapper {
  .wrapper (87.5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    .wrapper (92%);
    color: @basic-black;
    align-items: flex-start;
    height: 820px;
    padding-left: 14.5%;
  }

  @media (min-width: @desktop-width) {
    .wrapper (1220px);
    position: relative;
  }
}

.preview__overlay {
  background-size: 302px;
  background-color: fade(@basic-green, 85%);
}

.preview__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: -10px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin-bottom: 7px;
    padding-left: 5px;
  }
}

.preview__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-bottom: 47px;
    padding-left: 5px;
  }
}

@media (min-width: @tablet-width) {
  .preview__pic {
    position: absolute;
    top: 284px;
    z-index: -1;
    left: 35%;
  }
}

@media (min-width: @desktop-width) {
  .preview__pic {
    top: 100px;
  }
}

.preview__pic {
  @media (min-width: @tablet-width) {
    width:709px;
    height: 609px;
    top: 231px;
    left: 43px;
  }
}

.preview__cat-pic {
  @media (max-width: @desktop-width) {
    display: none;
  }
  position: absolute;
  top: -17%;
  right: 0;
  z-index: -2;
}

.preview__link {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: -15px;

  @media (min-width: @tablet-width) {
    width: max-content;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
