.product-card {
  .main-fonts;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  padding-top: 12px;

  &--show-all {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 163px;
    padding-top: 161px;
    background-color: @basic_grey;

    &--show-all {
      background-color: @basic-white;
    }
  }
}

.product-card__pic {
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  top: 30px;
  left: 35px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -30px;
    left: 40%;
  }
}

.product-card__button {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 21px;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 8px;
  cursor: pointer;

  &--show-all {
    background-color: @basic_grey;
    color: @special_dark-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 7px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: @special_dark-grey-3;
      top: -103px;
      left: 124px;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
}

.product-card__title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
}

.product-card__list {
  .second-fonts;
  color: @special_dark-grey;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: auto auto;
}

.product-card__name {
  text-align: left;
}

.product-card__number {
  text-align: right;
}

.product-card__text {
  .second-fonts;
  color: @special_dark-grey;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  &--big {
    .main-fonts;
    color: @light-black;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -2px;
  }
}
