.product-card {
  .main-fonts;
  border: 2px solid @border-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

.product-card__pic {
  grid-row-start: 1;
  grid-row-end: 3;
}

.product-card__button {
  grid-column-start: 1;
  grid-column-end: -1;
}

.product-card__title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
}

.product-card__list {
  .second-fonts;
  color: @special_dark-grey;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card__name {
  text-align: left;
}
.product-card__number {
  text-align: right;
}

.product-card__text {
  .second-fonts;
  color: @special_dark-grey;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.product-card__text--big {
  .main-fonts;
  color: @light-black;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.product-card__button--show-all {
  background-color: @basic_grey;
  color: @special_dark-grey;
}
