.programs {
  outline: 2px solid grey;
  .main-fonts;
}

.programs__list {
  .reset-list;
  .wrapper(92%);
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    .wrapper(95%);
  }
  @media (min-width: @desktop-width) {
    .wrapper(1220px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.programs__item {
  background-color: @basic_grey;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  @media (min-width: @tablet-width) {
    padding-right: 220px;
  }
  @media (min-width: @desktop-width) {
    padding-right: 50px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 78px;
  @media (min-width: @tablet-width){
    padding-left: 0;
  }
}

.programs__text {
  .second-fonts;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
}

.programs__link {
  text-decoration: none;
  color: @basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 45px;
}
