@media (min-width: @tablet-width) {
  .slider {
    background: @darker_grey;
    margin-top: 230px;
  }
}

.slider__wrapper {
  .wrapper(87.5%);
  position: relative;
  padding-top: 289px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    .wrapper(92%);
    padding-bottom: 71px;
  }
}

.slider__button {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.slider__toggle {
  width: 38%;
  height: 14px;
  border-radius: 6px;
  background-color: @basic-white;
  border: 1px solid @toggle-border-grey;

  @media (min-width: @tablet-width) {
    width: 66%;
    height: 6px;
    border-radius: 6px;
    background-color: @toggle-border-grey;
    border: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 46%;
      background-color: @basic-green;
      width: 8px;
      height: 8px;
      border: 13px solid @basic-white;
      border-radius: 50%;
    }
  }
}

.slider__bar {
  width: 44%;
  height: 6px;
  border-radius: 6px;
  background-color: #68B738;
  position: relative;
  top: 30%;
  left: 7%;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__toggle-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
  padding-right: 27px;
  padding-left: 34px;

  @media (min-width: @tablet-width) {
    margin-top: 78px;
  }
}

.slider__pic {
  position: absolute;
  &--before {
    top: 21px;
    left: -15px;

    @media (min-width: @tablet-width) {
      height: 500px;
      top: -175px;
      left: 30%;
    }
  }
  &--after {
    display: none;
  }
}

.slider__button {
  background: transparent;
  border: none;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .slider {
    background: none;
  }

  .slider__wrapper {
    width: auto;
    margin: 0;
  }
}
