.social__list {
  .reset-list;
  .wrapper (92%);
  display: flex;
  justify-content: center;
}

.social__item {
  padding: 15px;
}

.social__icon {
  @media (min-width: @desktop-width) {
    width: 29px;
    height: 17px;
  }
}
