.social {
  outline: 2px solid grey;
}

.social__list {
  .reset-list;
  outline: 2px solid blue;
  .wrapper (92%);
  display: flex;
  justify-content: center;
}

.social__item {
  outline: 2px solid red;
  padding: 15px;
}
