.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay (@color, @fade-percent) {
  background-color: fade(@color, @fade-percent);
}

.border-grey {
  border: 1px solid @border-light-grey;
}

.wrapper (@width-percent) {
  width: @width-percent;
  margin: 0 auto;
}
